<a href="https://colab.research.google.com/github/giordanap/Udemy-Machine_Learning/blob/main/sript_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# librer√≠as
import pandas as pd

# importar archivo de google drive
from google.colab import drive
import os
drive.mount('/content/drive/')
# os.getcwd()
os.chdir('/content/drive/My Drive/Academico/Udemy/GitHub/datasets/')

Mounted at /content/drive/

In [ ]:
# Lectura de datos
data = pd.read_csv('titanic/titanic3.csv')

In [ ]:
data.head()

   pclass  survived  ...   body                        home.dest
0       1         1  ...    NaN                     St Louis, MO
1       1         1  ...    NaN  Montreal, PQ / Chesterville, ON
2       1         0  ...    NaN  Montreal, PQ / Chesterville, ON
3       1         0  ...  135.0  Montreal, PQ / Chesterville, ON
4       1         0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

In [ ]:
data2=pd.read_csv('customer-churn-model/Customer Churn Model.txt')

In [ ]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [ ]:
data_cols=pd.read_csv('customer-churn-model/Customer Churn Columns.csv')
data_col_list=data_cols["Column_Names"].tolist()
data2=pd.read_csv('customer-churn-model/Customer Churn Model.txt',
                  header=None, names=data_col_list)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

### Carga de datos con la funci√≥n Open

In [ ]:
data3=open('customer-churn-model/Customer Churn Model.txt','r')

In [ ]:
# readline me permite leer cada registro
# strip me permite eliminar los espacios en blanco
# split me permite dividir la columna por un delimitador
cols=data3.readline().strip().split(',')
ncols=len(cols)

In [ ]:
counter=0
main_dict={}
for col in cols:
  main_dict[col]=[]

In [ ]:
for line in data3:
  values=line.strip().split(",")
  for i in range(len(cols)):
    main_dict[cols[i]].append(values[i])
  counter += 1

print("El data set tiene %d filas y %d columnas"%(counter,ncols))

El data set tiene 3333 filas y 21 columnas

In [ ]:
df3=pd.DataFrame(main_dict)
df3.head()

  State Account Length Area Code  ... Intl Charge CustServ Calls  Churn?
0    KS            128       415  ...    2.700000              1  False.
1    OH            107       415  ...    3.700000              1  False.
2    NJ            137       415  ...    3.290000              0  False.
3    OH             84       408  ...    1.780000              2  False.
4    OK             75       415  ...    2.730000              3  False.

[5 rows x 21 columns]

### Ficheros xls y xlsx

In [ ]:
titanic2=pd.read_excel('titanic/titanic3.xls','titanic3')

In [ ]:
titanic3=pd.read_excel('titanic/titanic3.xlsx','titanic3')

In [ ]:
titanic3.to_csv('titanic/titanic_custom_gap.csv')

In [ ]:
titanic3.to_excel('titanic/titanic_custom_gap.xls')

In [ ]:
titanic3.to_json('titanic/titanic_custom_json_gap.json')

# FIN !!!